
body {
	background-color: #FABB00; /* change default hex colour if you prefer */
	margin: 0 auto;
}

.background {
	position: absolute; 
	top: 0;
	left: 0;	
	z-index: 20;		
	height: 100%; 
	width: 100%;
}

.stripe {
	border-left: 2px solid white; /* default colour - don't change here */
	height: 100%;
	position: absolute; 
	top: 0px;
	left: 100px;
}